{% extends "base.html" %}

{% block title %}Uitleg over Schoolvinder.nl{% endblock %}

{% block extrahead %}
	<style type="text/css" media="screen">
		#content {
			padding-right: 8em;
		}
	</style>
{% endblock %}

{% block map %}{% endblock %}


{% block content %}
	<p><b>Schoolvinder.nl</b> is een website waarop mensen eenvoudig kunnen zoeken naar scholen in de buurt en gegevens over die scholen kunnen inzien.</p>

	<p>Geconfronteerd met de website van het <a href="http://www.cfi.nl/">CFI</a> waarop alle informatie over onderwijsinstellingen in Nederland te vinden is maar in een vorm en formaat die niet optimaal begrijpbaar en herbruikbaar zijn, wilden we een voorbeeld maken van hoe het beter zou kunnen voortbouwend op de bestaande bron.</p>
	
	<p>Het CFI biedt een zoekmachine voor scholen die goed werkt maar die niet direct aansluit bij de behoefte van een ouder en die omkomt in een overdaad van jargon. Schoolvinder.nl gebruikt diezelfde zoekmachine maar versimpelt de invoer ervan tot de twee relevantste dimensies: locatie en schoolsoort.</p>
	
	<p>De zoekmachine van het CFI biedt gegevens die herbruikbaar zijn op verschillende manieren maar niet direct aansluiten bij de behoeften van het internet. Schoolzoeker.nl biedt verschillende verbeteringen voor de herbruikbaarheid van gegevens die uiteengezet worden in <a href="/data/">data</a>.</p>
	
	<p>Een koppeling met <a href="http://oic.cfi.nl/">Onderwijs in Cijfers</a> was niet eenvoudig te realiseren omdat deze site met dezelfde problemen als de CFI-site kampt maar in verergerde mate. Het ligt voor de hand om deze gegevens in een toekomstige versie naast de basisgegevens van de scholen te plaatsen.</p>
	
	<p>uitvoering+concept door <a href="http://tonzijlstra.eu/nl/">Ton Zijlstra</a> en <a href="http://www.lifesized.net/">James Burke</a>, concept+techniek door <a href="http://aardverschuiving.com/">Alper Çugun</a>, design door <a href="http://www.buropony.nl/">BUROPONY</a></p>
{% endblock %}